[Unit]
Description=Run LEDs background sender

[Service]
WorkingDirectory=
ExecStart=/root/DigitPanelDemo/leds C000f00
KillMode=process

After=LEDscape.service

[Install]
WantedBy=multi-user.target

